a {
  color: green;
}

button {
  background-color: green;
  color: white;
  border-radius: 10px;
  margin: 10px;
  width: 100px;
}

.kotnik {
}
.pata {
  font-size: 28px;
}

.foto {
  background-size: cover;
}
